@using UniversityApp.Core.Entities
@model Course?
@{
	ViewData["Title"] = Model?.Name ?? "Not found";
}

@if(Model != null)
{
	<p>@Model.Name</p>
	<p>@Model.Id</p>
}
else
{
	<h4>Not found course</h4>
}