@using UniversityApp.Core.Entities
@model Group?
@{
	ViewData["Title"] = Model?.Name ?? "Not found group";
}

@if (Model != null)
{
	<p>@Model.Name</p>
	<p>@Model.Id</p>
	<p class="text-secondary">@Model.CourseId</p>
}
else
{
	<h4>Not found group</h4>
}